@mixin background {
  background: $veryLightGray;
  text-align: center;
}

@mixin headings {
  font-size: 1.8rem;
  color: $darkBlue;
}

@mixin styledetails {
  color: $grayishBlue;
  line-height: 1.3rem;
  font-size: 13px;
  padding: 1rem 0;
}

@mixin buttonstyle {
  color: $white;
  background: linear-gradient(to RIGHT, $limeGreen, $brightCyan);
  border: none;
  border-radius: 5rem;
  padding: 0.7rem 1.9rem;
  font-family: "Public Sans", sans-serif;
  // font-size: 12px;
  margin-top: 1rem;
  cursor: pointer;
}

@mixin hovereffect($var) {
  @if $var== "text" {
    &:hover {
      transition: color 0.3s;
      cursor: pointer;
      color: $GreenPlusBlue;
    }
  } @else if $var== "svg" {
    &:hover path {
      fill: $GreenPlusBlue;
      cursor: pointer;
      transition: fill 0.3s;
    }
  }
}

@mixin navbar($mobile) {
  @if $mobile < 800px {
    // @media screen and (min-width: $mobile){
    button,
    #cancel,
    .navigation {
      display: none;
    }

    @content;
    // }
  } @else if $mobile >=800px and $mobile <1024px {
    // @media screen and (min-width: $mobile){
    #toggle,
    #cancel {
      display: none;
    }
    .navigation {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      height: 57px;
      flex-basis: 350px;

      a {
        // height: 100%;
        align-self: center;
        text-decoration: none;
        color: $grayishBlue;
        cursor: pointer;
        border-bottom: 3px solid transparent;
        transition: all 0.5s ease-in-out 0s;

        &:hover {
          // transform: scaleX(1);
          visibility: visible;
          border-bottom: 3px solid $limeGreen;
          color: darken($grayishBlue, 90%);
          outline: none;
        }
      }
    }
    // }
    @content;
  } @else {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @content;
  }
}
