@import "variables";

@mixin background {
  background: $veryLightGray;
  text-align: center;
}

@mixin headings {
  font-size: 1.8rem;
  color: $darkBlue;
}

@mixin styledetails {
  color: $grayishBlue;
  line-height: 1.3rem;
  font-size: 13px;
  padding: 1rem 0;
}

@mixin navbar($mobile) {
  @if $mobile < 800px {
    @media screen and (min-width: $mobile) {
      button,
      #cancel,
      .navigation {
        display: none;
      }
      @content;
    }
  } @else if $mobile >=800px {
    @media screen and (min-width: $mobile) {
    }
  }
}
